---
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/400.css";
---

<!-- Hello Gamers! --><!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Meta tags for SEO -->
    <meta
      name="description"
      content="CrunchyCode Games is an independent game studio specializing in immersive and entertaining experiences for gamers."
    />
    <meta
      name="keywords"
      content="CrunchyCode Games, The Quest of the Tiny Hero, RPG, Independent Game Studio"
    />
    <meta name="author" content="CrunchyCode Games" />
    <!-- Open Graph metadata for social sharing -->
    <meta
      property="og:title"
      content="CrunchyCode Games - Independent Game Studio"
    />
    <meta
      property="og:description"
      content="We specialize in creating immersive and entertaining gaming experiences."
    />
    <meta property="og:image" content="game.png" />
    <meta property="og:url" content="https://www.crunchycodegames.com" />
    <!-- Canonical URL -->
    <link rel="canonical" href="https://www.crunchycodegames.com" />
    <!-- Favicon -->
    <link rel="icon" href="/img/favicon.svg" />
    <title>CrunchyCode Games - Independent Game Studio</title>
  </head>
  <body>
    <main
      class="flex min-h-screen w-screen flex-col gap-32 items-center bg-neutral-100"
    >
      <nav
        class="bg-rose-600 sticky top-0 w-screen px-5 py-5 text-white lg:shadow-xl"
      >
        <div
          class="flex flex-col lg:flex-row gap-6 justify-between container lg:px-20 mx-auto"
        >
          <div class="flex gap-4 justify-center">
            <img class="h-14 lg:h-8" src="/img/logo.svg" />
            <h1 class="text-center text-6xl lg:text-2xl font-medium">
              CrunchyCode Games
            </h1>
          </div>
          <ul
            class="flex items-end justify-center gap-5 font-medium text-4xl lg:text-xl"
          >
            <li>
              <a
                href="/"
                class="transition-opacity duration-200 ease-in-out hover:opacity-80"
                >Home</a
              >
            </li>
            <li>
              <a
                href="/tqotth/"
                class="transition-opacity duration-200 ease-in-out hover:opacity-80"
                >The Quest of the Tiny Hero</a
              >
            </li>
            <li>
              <a
                href="/pd/"
                class="transition-opacity duration-200 ease-in-out hover:opacity-80"
                >PolyDestroyer</a
              >
            </li>
            <li>
              <a class="hidden lg:block" href="/hosting/">
                <span
                  class="px-3 py-2 rounded-full bg-indigo-600 hover:bg-indigo-400 transition-colors ease-in-out drop-shadow-lg"
                >
                  View our <b>new</b> Web Hosting!
                </span>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <section class="sticky top-[205px] lg:hidden bg-indigo-600 w-screen h-28 -mt-32 flex justify-center items-center text-white text-5xl">
        <a href="/hosting/">
            View our <b>new</b> Web Hosting!
        </a>
      </section>

      <section class="flex w-3/4 lg:w-1/2 flex-col items-center lg:pt-0">
        <h1
          class="text-center text-6xl lg:text-5xl text-gray-900 font-medium lg:leading-snug"
        >
          We are <span class="text-rose-600">CrunchyCode Games</span>, an
          independent game studio committed to creating immersive entertaining
          experiences for gamers.
        </h1>
      </section>

      <section
        class="flex container flex-col w-screen gap-12 items-center lg:items-start lg:flex-row py-16"
      >
        <div
          class="flex flex-col items-center lg:w-1/2 text-center pb-16 lg:pb-0 gap-10 lg:gap-5"
        >
          <h2
            style="text-wrap: balance;"
            class="text-6xl lg:text-5xl font-medium leading-tight"
          >
            Discover <span class="text-rose-600 leading-tight"
              >"The Quest of the Tiny Hero."</span
            >
          </h2>
          <p class="lg:w-3/4 text-5xl lg:text-2xl">
            Our first game is "The Quest of the Tiny Hero", a 2D top-down RPG
            game with turn based combat.
          </p>
          <a class="lg:w-3/4" href="/tqotth/"
            ><img
              class="mt-4 shadow-solid hover:shadow-solid-lg transition-shadow ease-in-out"
              src="/img/tqotth1.png"
            /></a
          >
        </div>

        <div
          class="flex flex-col items-center w-screen py-28 lg:py-0 lg:w-1/2 gap-16"
        >
          <h2 class="text-6xl lg:text-5xl font-medium">
            Meet the <span class="text-rose-600">dev team.</span>
          </h2>
          <div class="flex flex-col items-center gap-28 lg:gap-12">
            <a
              href="#"
              class="flex flex-col gap-2 w-full lg:w-96 lg:h-2/3 bg-white p-4 border-8 lg:border-4 border-rose-600 shadow-solid hover:shadow-solid-lg transition-shadow ease-in-out"
            >
              <h3 class="text-5xl lg:text-2xl font-medium">Adrian Kilgour</h3>
              <p class="text-4xl lg:text-lg">Lead Developer</p>
            </a>
            <a
              href="#"
              class="flex flex-col gap-2 w-full lg:w-96 lg:h-2/3 bg-white p-4 border-8 lg:border-4 border-rose-600 shadow-solid hover:shadow-solid-lg transition-shadow ease-in-out"
            >
              <h3 class="text-5xl lg:text-2xl font-medium">Lewis Brook</h3>
              <p class="text-4xl lg:text-lg">Lead QA</p>
            </a>
            <a
              href="#"
              class="flex flex-col gap-2 w-full lg:w-96 lg:h-2/3 bg-white p-4 border-8 lg:border-4 border-rose-600 shadow-solid hover:shadow-solid-lg transition-shadow ease-in-out"
            >
              <h3 class="text-5xl lg:text-2xl font-medium">Dylan Hobby</h3>
              <p class="text-4xl lg:text-lg">Lead Web Developer</p>
            </a>
            <a
              href="#"
              class="flex flex-col gap-2 w-full lg:w-96 lg:h-2/3 bg-white p-4 border-8 lg:border-4 border-rose-600 shadow-solid hover:shadow-solid-lg transition-shadow ease-in-out"
            >
              <h3 class="text-5xl lg:text-2xl font-medium">Stella Kennedy</h3>
              <p class="text-4xl lg:text-lg">World Designer</p>
            </a>
          </div>
        </div>
      </section>

      <section class="w-3/4 text-center gap-10 lg:gap-5 flex flex-col">
        <h2 class="text-6xl lg:text-5xl font-medium">Contact us.</h2>
        <p class="text-5xl lg:text-3xl">hello@crunchycodegames.com</p>
        <p
          class="text-5xl lg:text-3xl text-sky-700 hover:text-sky-500 transition-colors duration-200 ease-in-out flex-wrap"
        >
          <a href="https://discord.gg/6YYQZByTVC"
            >https://discord.gg/6YYQZByTVC</a
          >
        </p>
      </section>

      <footer
        class="text-center text-4xl lg:text-base w-screen text-white bg-rose-600 p-5"
      >
        <p class="mb-2">
          <a
            class="text-white hover:text-gray-300 underline transition-colors duration-200 ease-in-out"
            href="/terms">Terms and conditions</a
          >. <a
            class="text-white hover:text-gray-300 underline transition-colors duration-200 ease-in-out"
            href="/privacy">Privacy Policy</a
          >.
        </p>
        <p>
          &copy; 2023 - 2024 CrunchyCode Games Ltd. - All rights reserved.
          Company No. - 15211638.
        </p>
      </footer>
    </main>
  </body>
</html>

<style>
  main {
    /* use the logo as a background image */
    background-image: url("/img/logo.svg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
  }
</style>
