---
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/400.css";
---

<!-- Hello Gamers! -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Meta tags for SEO -->
    <meta
      name="description"
      content="CrunchyCode Games is an independent game studio specializing in immersive and entertaining experiences for gamers."
    />
    <meta
      name="keywords"
      content="CrunchyCode Games, The Quest of the Tiny Hero, RPG, Independent Game Studio"
    />
    <meta name="author" content="CrunchyCode Games" />
    <!-- Open Graph metadata for social sharing -->
    <meta
      property="og:title"
      content="CrunchyCode Games - Independent Game Studio"
    />
    <meta
      property="og:description"
      content="We specialize in creating immersive and entertaining gaming experiences."
    />
    <meta property="og:image" content="game.png" />
    <meta property="og:url" content="https://www.crunchycodegames.com/game" />
    <!-- Canonical URL -->
    <link rel="canonical" href="https://www.crunchycodegames.com/game" />
    <!-- Favicon -->
    <link rel="icon" href="../img/favicon.svg" />
    <title>CrunchyCode Games - Independent Game Studio</title>
  </head>
  <body>
    <main class="flex min-h-screen w-screen flex-col gap-16 items-center bg-neutral-100">
      <nav
        class="bg-rose-600 sticky top-0 w-screen px-5 py-5 text-white lg:shadow-xl"
      >
        <div
          class="flex flex-col lg:flex-row gap-6 justify-between container lg:px-20 mx-auto"
        >
          <div class="flex gap-4 justify-center">
            <img class="h-14 lg:h-8" src="img/logo.svg" />
            <h1 class="text-center text-6xl lg:text-2xl font-medium">
              CrunchyCode Games
            </h1>
          </div>
          <ul
            class="flex items-end justify-center gap-5 font-medium text-4xl lg:text-xl"
          >
            <li>
              <a
                href="/"
                class="transition-opacity duration-200 ease-in-out hover:opacity-80"
                >Home</a
              >
            </li>
            <li>
              <a
                href="/tqotth/"
                class="transition-opacity duration-200 ease-in-out hover:opacity-80"
                >The Quest of the Tiny Hero</a
              >
            </li>
            <li>
              <a
                href="/pd/"
                class="transition-opacity duration-200 ease-in-out hover:opacity-80"
                >PolyDestroyer</a
              >
            </li>
            <li>
              <a class="hidden lg:block" href="/hosting/">
                <span
                  class="px-3 py-2 rounded-full bg-indigo-600 hover:bg-indigo-400 transition-colors ease-in-out drop-shadow-lg"
                >
                  View our <b>new</b> Web Hosting!
                </span>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <section class="sticky top-[205px] lg:hidden bg-indigo-600 w-screen h-28 -mt-32 flex justify-center items-center text-white text-5xl">
        <a href="/hosting/">
            View our <b>new</b> Web Hosting!
        </a>
      </section>

      <section class="flex w-3/4 lg:w-1/2 flex-col items-center pt-28 lg:pt-0">
        <h1 class="text-center text-6xl lg:text-5xl text-gray-900 font-medium lg:leading-snug">
          Poly<span class="text-rose-600">Destroyer</span>
        </h1>
      </section>


      <section class="flex flex-col lg:justify-between lg:flex-row w-3/4 lg:w-3/4 items-center text-center lg:text-xl text-5xl gap-10 lg:gap-0 pt-28 lg:pt-0">
        
        <div class="w-full lg:mr-10 lg:text-right lg:text-justify">
            Embark on a journey through the cosmos with PolyDestroyer, a riveting 2D space shooter that combines classic arcade action with modern design. As the universe's last hope, you'll pilot the formidable PolyDestroyer, a spacecraft equipped with devastating weaponry and advanced technology, to fend off an onslaught of alien adversaries determined to conquer every corner of the galaxy.
        </div>

        <div class="w-full lg:ml-10 text-center">
          <img class="mt-4 shadow-solid hover:shadow-solid-lg transition-shadow ease-in-out" src="/img/pd1.jpg" />
        </div>
      </section>
      
      <section class="flex flex-col lg:justify-around lg:flex-row w-3/4 lg:w-3/4 items-center text-center lg:text-xl text-5xl gap-10 lg:gap-0 pt-28 lg:pt-0 border-t-8 lg:border-0">
        <iframe src="https://store.steampowered.com/widget/2680040/" frameborder="0" width="646" height="190"></iframe>
        <iframe frameborder="0" src="https://itch.io/embed/2556494" width="552" height="167"><a href="https://crunchycodegames.itch.io/pollydestroyer">PollyDestroyer by CrunchyCode Games</a></iframe>
      </section>

      <section class="flex flex-col-reverse lg:justify-between lg:flex-row w-3/4 lg:w-3/4 items-center text-center lg:text-xl text-5xl gap-10 lg:gap-0 pt-28 lg:pt-0 border-t-8 lg:border-0">
        <div class="w-full lg:mr-10">
          <img class="mt-4 shadow-solid hover:shadow-solid-lg transition-shadow ease-in-out" src="/img/pd2.jpg" />
        </div>
        
        <div class="w-full lg:ml-10 lg:text-left lg:text-justify">
          <span class="lg: text-2xl text-6xl"><b>Key Features</b></span>
          <ul class="list-disc">
            <li><span class="text-rose-600"><b>Combat: </b></span>Engage in epic space battles against various alien foes.</li>
            <li><span class="text-rose-600"><b>Diverse Arsenal: </b></span>Customize your spacecraft with powerful weapons. From rapid-fire blasters to explosive missiles, equip your ship to suit your combat style.</li>
            <li><span class="text-rose-600"><b>Progressive Difficulty: </b></span>Whether you're a rookie pilot or a seasoned space ranger, PolyDestroyer offers a scalable difficulty curve that provides a challenging yet accessible gameplay experience for all skill levels.</li>
          </ul>
        </div>
      </section>

      <section class="flex flex-col lg:justify-between lg:flex-row w-3/4 lg:w-3/4 items-center text-center lg:text-xl text-5xl gap-10 lg:gap-0 pt-28 lg:pt-0 border-t-8 lg:border-0">
        <div class="w-full lg:mr-10 lg:text-right lg:text-justify">
            PolyDestroyer invites you to a thrilling space adventure where strategy, reflexes, and a will of steel are your keys to victory. Do you have what it takes to defend the galaxy from the brink of destruction? Strap in, power up, and blast off into the action!
        </div>

        <div class="w-full lg:ml-10">
          <img class="mt-4 shadow-solid hover:shadow-solid-lg transition-shadow ease-in-out" src="/img/pd3.jpg" />
        </div>
      </section>
      
      <footer
        class="text-center text-4xl lg:text-base w-screen text-white bg-rose-600 p-5"
      >
        <p class="mb-2">
          <a
            class="text-white hover:text-gray-300 underline transition-colors duration-200 ease-in-out"
            href="terms">Terms and conditions</a
          ><a
            class="text-white hover:text-gray-300 underline transition-colors duration-200 ease-in-out"
            href="privacy">Privacy Policy</a
          >
        </p>
        <p>
          &copy; 2023 - 2024 CrunchyCode Games Ltd. - All rights reserved.
          Company No. - 15211638.
        </p>
      </footer>
    </main>
    </main>
  </body>
</html>

<style>
  main {
    /* use the logo as a background image */
    background-image: url("/img/logo.svg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
  }
</style>
